*.*~
*.egg-info/
*.pyc
*.swn
*.swo
*.swp
.coverage
.direnv/
.envrc
.idea/
.project
.pydevproject
.settings/
.tox/
.vscode/
__pycache__
build/
csv/*.csv
dist/
django_survey_and_report.egg-info/
htmlcov/
survey.db
survey_test/static/
tex/*.pdf
tex/*.png
tex/*.tex
tex/category-without-description.tex
venv/
