*.*~
*.swp
*.swo
*.swn
*.pyc
__pycache__
survey.db
django_survey_and_report.egg-info/
survey_test/static/
venv/
.direnv/
.envrc
.idea/
.project
.pydevproject
.settings/
htmlcov/
.coverage
build/
dist/
.tox/
.vscode/

tex/category-without-description.tex

csv/*.csv
tex/*.png
tex/*.pdf
tex/*.tex
*.egg-info/